$max: 1504px;
$extraLarge: 1280px;
$large: 992px;
$medium: 768px;
$small: 576px;

$mainFontSize: 16px;
$mainLineHeight: 24px;


$text-color: #222222;
$text-color-second: #F7F9FE;
$text-color-light: #6A6A6A;
$btn-color: #F21F5B;
$border-color: #EAEFFC;

$bg-footer-top: #232473;
$bg-footer-bottom: #1A1B57;
$bg-social: #2E2FB2;
$white: #ffffff;