.arrow {
  position: absolute;
  content: '';
  top: 50%;
  width: rem(40);
  height: rem(40);
  border: 1px solid $white;
  border-radius: 50%;
  transform: translateY(rem(-20));
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:active {
    opacity: 0.7;
  }

  &_left {
    left: rem(-32);
  }

  &_right {
    right: rem(-32);

    img {
      transform: rotate(180deg);
    }

  }
}