.contacts {
  background-image: url("../img/map.png");
  background-position: center center;
  background-size: cover;
  position: relative;

  &__iframe {
    width: 100%;
    min-height: rem(470);
  }

  &__wrapper {
    padding: rem(40) rem(71);
    width: rem(490);
    background-color: $white;
    border-radius: rem(8);
    position: absolute;
    top: rem(80);
  }

  &__title {
    font-size: rem(40);
    line-height: rem(40);
    margin-bottom: rem(16);
  }

  &__text {
    width: rem(345);
    padding-bottom: rem(12);
  }

  &__phone {
    margin-bottom: rem(24);

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }

  &__btn {
    padding: rem(8) rem(24) rem(8) rem(52);
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: rem(24);
      width: rem(16);
      height: rem(16);
      transform: translateY(rem(-8));
      background-image: url("../img/mail.svg");
    }
  }
}

@media screen and (max-width: 400px) {
  .contacts__btn {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: $small) {

  .contacts {
    &__wrapper {
      width: 100%;
      padding: rem(30);
    }

    &__text {
      width: auto;
    }

  }
}

@media screen and (max-width: $medium) {

  .contacts {
    &__iframe {
      display: none;
    }

    &__container {
      padding-top: rem(80);
      padding-bottom: rem(80);
    }

    &__wrapper {
      position: static;
    }
  }
}

@media screen and (max-width: $large) {
  .contacts {
    &__text {
      width: rem(300);
    }
  }
}