.container {
  margin: 0 auto;


  @media screen and (max-width: $medium - 1) {
    width: auto;
    padding: 0 30px;
  }

  @media screen and (min-width: $medium) {
    width: auto;
    max-width: 640px;
  }

  @media screen and (min-width: $large) {
    width: auto;
    max-width: 928px;
  }

  @media screen and (min-width: $extraLarge) {
    width: auto;
    max-width: 1216px;
  }

  @media screen and (min-width: $max) {
    width: auto;
    max-width: 1408px;
  }
}

