.footer {

  &__top {
    background-color: $bg-footer-top;
    color: $white;
    padding: rem(32) 0;

    &-container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__copyright {
    width: calc(100% / 3 - 30px);
  }

  &__copyright-info {
    font-size: rem(13);
    line-height: rem(24);
    opacity: 0.5;
    width: rem(280);
  }

  &__logo {
    width: rem(300);
    margin-bottom: rem(24);
  }


  &__contacts-wrapper {
    width: calc(100% / 3 - 130px);
  }

  &__bottom {
    background-color: $bg-footer-bottom;

    &-container {
      display: flex;
      justify-content: space-between;
    }

    a {
      color: $white;
      mix-blend-mode: normal;
      opacity: 0.5;
      font-size: rem(13);
      line-height: rem(18);
      padding: rem(10) 0;

      &:hover,
      &:active {
        opacity: 1;
      }
    }

  }

}

@media screen and (max-width: $medium - 1) {

  .footer {
    &__bottom-container {
      width: auto;
      padding: 0 30px;
    }

    &__top-container {
      width: auto;
      padding: 0 30px;
    }
  }
}

@media screen and (max-width: 900px) {
  .footer__copyright-info {
    margin: 0 auto;
  }
}


@media screen and (max-width: $large) {
  .footer {
    &__bottom {
      a {
        width: 100%;
        text-align: center;
      }

      &-container {
        flex-wrap: wrap;
        justify-content: center;
      }
    }


    &__copyright {
      width: 100%;
      padding-bottom: rem(20);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__top-container {
      flex-direction: column;
      align-items: center;
    }

    &__contacts-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: rem(20);
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }

}