.footer-nav {
  display: flex;
  width: calc(100% / 3 + 70px);

  &__list:not(:last-child) {
    margin-right: rem(32);
  }

  &__link {
    color: $white;
    font-size: rem(14);
    line-height: rem(24);

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer-nav {
    flex-wrap: wrap;

    &__list {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: $large) {
  .footer-nav {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}