.footer {

  &__top {
    background-color: $bg-footer-top;
    color: $white;
    padding: rem(32) 0;

    &-container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding-right: 0;
      padding-left: 0;

      @media screen and (max-width: $large) {
        flex-direction: column;
        align-items: center;
      }

      @media screen and (max-width: $medium - 1) {
        width: auto;
        padding: 0 30px;
      }

    }
  }

  &__copyright {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;

    @media screen and (max-width: $large) {
      width: 100%;
      padding-bottom: rem(20);
      text-align: center;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }

  &__copyright-info {
    font-size: rem(13);
    line-height: rem(24);
    opacity: 0.5;
    width: rem(280);

    @media screen and (max-width: 900px) {
      margin: 0 auto;
    }
  }

  &__logo {
    width: rem(300);
    margin-bottom: rem(24);
  }


  &__contacts-wrapper {
    width: calc(100% / 3 - 130px);


    @media screen and (max-width: $large) {
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: rem(20);
      justify-content: center;
      flex-direction: column;
      text-align: center;

    }

  }

  &__bottom {
    background-color: $bg-footer-bottom;

    &-container {

      padding: 0 rem(30);
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $large) {
        flex-wrap: wrap;
        justify-content: center;
      }

      @media screen and (max-width: $medium - 1) {
        width: auto;
        padding: 0 30px;
      }
    }

    a {
      color: $white;
      mix-blend-mode: normal;
      opacity: 0.5;
      font-size: rem(13);
      line-height: rem(18);
      padding: rem(10) 0;



      @media screen and (max-width: $large) {
        width: 100%;
        text-align: center;
      }

      &:hover,
      &:active {
        opacity: 1;
      }
    }

  }

}