.footer-contacts {
  opacity: 0.5;
  font-size: rem(13);
  line-height: rem(24);
  padding-bottom: rem(24);

  .phone {
    color: $white;
  }
}

@media screen and (max-width: $large) {
  .footer-contacts {
    padding-bottom: rem(14);
  }
}